/* Navigation */
#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding: 30px;
    background: var(--scoutpurple);
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--scoutpurple);
    z-index: 2;
  }
  
  #nav a {
    display: inline-block;
    margin-right: 20px;
    color: white;
    opacity: 0.7;
    transition: 0.2 ease color;
  }
  
  #nav a.router-link-active,
  #nav a:hover {
    opacity: 1;
  }
  